html  
  head
    title= title
  body
      main
        section
          table
            thead
              tr
                th First Name
                th Last Name
            tbody
              each item in rows
                tr
                  td= item.firstName
                  td= item.lastName