html  
  head
    title moar pug
  body
    header
        h1 moar pug
    nav
        a(href='/potatoes') potatoes
        a(href='/bananas') bananas
        a(href='/kitty-cats') kitty-cats
    main
        section
            p Here is some stuff I've typed
        section
            table(id='fruit-animal-vehicle')
                tr
                    th Fruit
                    th Animal
                    th Vehicle
                tr
                    th(data-fruit='banana') banana
                    th monkey
                    th lamborghini
                tr
                    th(data-fruit='orange') orange
                    th orangutan
                    th ox cart
                tr
                    th(data-fruit='tomato') tomato
                    th house cat
                    th aircraft carrier
    footer don't eat yellow snow